.steps {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @media screen and (max-width: 768px) {
        gap: 20px;
    }

    @media screen and (max-width: 500px) {
        gap: 10px;
    }

    &.bottom {
        .step-title {
            padding-top: 16px;
            margin-bottom: 14px;
            border-top: 1px solid #DADADA;
            text-align: center;
        }

        img {
            margin-bottom: 16px;
        }

        .step-item {
            &:hover {
                box-shadow: 0px 16px 32px -4px #0C0C0D1A inset;
                cursor: pointer;
            }
        }
    }

    .step-subtitle {
        margin-top: 16px;
        margin-bottom: 14px;
        font-family: "Wix Madefor Display", sans-serif;
        font-size: var(--txt-normal-font-size);
        font-weight: var(--txt-normal-font-weight);
        line-height: var(--txt-normal-line-height);
    }

    .step-item {
        width: calc(25% - 30px);
        position: relative;
        border: 1px solid #D9D9D9;
        border-radius: var(--border-radius);
        padding: 12px 10px;

        &:hover {
            box-shadow: 0 8px 16px -8px rgba(182, 155, 153, .4);
        }

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &:hover {
                cursor: pointer;
            }
        }

        img {
            margin: 0 auto;
            aspect-ratio: 1 / 1;
            width: auto;
            object-fit: cover;
        }

        &.pick-up {
            hr {
                border: 1px solid #DADADA;
            }

            h3 {
                text-align: center;

                @media screen and (max-width: 500px) {
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        } 

        @media screen and (max-width: 1024px) {
            width: calc(100% / 3 - 40px);
        }

        @media screen and (max-width: 768px) {
            width: calc(100% / 2 - 20px);
            text-align: center;
        }

        @media screen and (max-width: 500px) {
            width: calc(100% / 2 - 5px);
            text-align: center;
        }
    }
}