.banner-main {
    margin-bottom: 64px;
    position: relative;
    overflow: hidden;

    &.desktop {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &.mobile {
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
            margin: 16px -15px;
        }
    }

    .link {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: 1;
        display: none;

        @media screen and (max-width: 1130px) {
            display: block;
        }
    }

    .img {
        position: absolute;
        top: -35%;
        left: 54%;

        @media screen and (max-width: 1130px) {
            left: 45%;
        }
    }

    .logo {
        position: absolute;
        top: 16px;
        right: 16px;
        max-width: 80px;
    }

    .content {
        position: absolute;
        max-width: 591px;
        width: 100%;
        top: 15px;
        left: 39px;

        .title {
            color: var(--light-red);

            @media screen and (max-width: 1200px) {
                font-size: 60px;
                line-height: 60px;
            }
        }

        .button {
            margin-top: 27px;
            text-align: center;
            text-decoration: none;
            max-width: 180px;
            padding: 15.5px 0;

            @media screen and (max-width: 1130px) {
                display: none;
            }
        }
    }
}

.banner-block {
    margin: 64px 0;
    position: relative;
    overflow: hidden;

    &.desktop {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &.mobile {
        display: none;

        @media screen and (max-width: 1024px) {
            display: block;
            margin: 16px -15px;
        }
    }

    .link {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: 1;
        display: none;

        @media screen and (max-width: 1130px) {
            display: block;
        }
    }

    .logo {
        position: absolute;
        top: 16px;
        right: 16px;
        max-width: 80px;
    }

    .img-block {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        clip-path: inherit;

        img {
            border-bottom-right-radius: 8px;
            height: 100%;
            clip-path: polygon(45% 0%,100% 0%,100% 100%,32.5% 100%);
        }

        .phone {
            text-decoration: none;
            position: absolute;
            background-color: var(--red);
            z-index: 2;
            color: var(--white);
            display: block;
            bottom: -2px;
            right: 0;
            font-family: "Wix Madefor Display", sans-serif;
            font-size: 48px;
            font-weight: 800;
            line-height: 22px;
            padding: 29.5px 0 29.5px 0;
            clip-path: polygon(4.5% 0, 100% 0, 100% 100%, 0 100%);
            border-bottom-right-radius: 8px;
            text-align: center;
            width: 67.5%;
            text-wrap: nowrap;

            &:hover {
                cursor: pointer;
            }

            @media screen and (max-width: 1120px) {
                font-size: 40px;
            }
        }
    }

    .img {
        position: absolute;
        top: 0;
        right: 0;
        clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%);
    }

    .content {
        position: absolute;
        max-width: 650px;
        width: 100%;
        top: 50%;
        left: 39px;
        transform: translateY(-50%);

        @media screen and (max-width: 1180px) {
            max-width: 550px;
        }

        h2 {
            font-family: "Wix Madefor Display", sans-serif;
            font-size: 48px;
            font-weight: 800;
            line-height: 52.8px;
            letter-spacing: -0.03em;
            color: var(--light-red);
            margin-bottom: 16px;

            @media screen and (max-width: 1180px) {
                font-size: 40px;
                line-height: 40px;
            }
        }

        .text {
            font-family: "Wix Madefor Display", sans-serif;
            font-size: 40px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: -0.03em;
            color: var(--main-color);
            margin-bottom: 12px;

            @media screen and (max-width: 1180px) {
                font-size: 35px;
                line-height: 35px;
            }
        }

        .little-text {
            font-family: "Wix Madefor Display", sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: -0.03em;
            color: var(--dark-grey);
        }
    }
}