header#main-header {

    @media screen and (max-width: 990px) {
        position: fixed;
        z-index: 2;
        width: 100%;
    }

    &.header-not-fixed {
        position: relative;
    }

    &.header-fixed {
        position: fixed;
        z-index: 111;
        width: 100%;
        background-color: var(--white);
    }

    .header-block-menu-mobile {
        display: none;

        @media screen and (max-width: 990px) {
            display: block;
        }

        .header-block-contacts {
            display: flex;
            align-items: center;
            padding: 6px 12px;
            background-color: var(--white);

            .header-block-logo,
            .header-cart,
            &__block-phone {
                flex: calc(100% / 3);

                span[class^="icon-"] {
                    font-size: 25px;
                    vertical-align: text-top;
                }

            }

            &__block-phone {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: relative;
                width: 153px;
                flex: none;

                span[class^=icon-] {
                    position: absolute;
                    left: 0;
                }
            }

            &__phone {
                font-size: 16px;
                font-weight: 800;
                line-height: 22px;
                text-decoration: none;
                text-wrap: nowrap;
            }

            &__operating-mode {
                font-size: var(--txt-mob-xs-font-size);
                line-height: var(--txt-mob-xs-line-height);
                font-weight: var(--txt-mob-xs-font-weight);

                @media screen and (max-width: 990px) {
                    text-align: center;
                }
            }

            .header-cart {
                margin: 0;
                display: flex;
                justify-content: flex-end;

                span[class^="icon-"]::before {
                    font-size: 45px;
                }

                .cart-count {
                    top: 0;
                }
            }
        }

        .header-block-search-mobile {
            position: relative;
            background-color: var(--light-grey);

            .header-block-search {
                padding: 16px 12px;

                input {
                    font-size: var(--txt-mob-xs-font-size);
                    line-height: var(--txt-mob-xs-line-height);
                    font-weight: var(--txt-mob-xs-font-weight);
                    padding: 12px 16px;
                }
            }
        }
    }

    .header-top {
        &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            @media screen and (max-width: 990px) {
                display: none;
            }

            @media screen and (max-width: 1024px) {
                .red-button-L {
                    font-size: var(--txt-medium-font-size);
                    line-height: var(--txt-medium-line-height);
                    font-weight: var(--txt-medium-font-weight);
                    max-width: 170px;
                }
            }
        }
    }

    .header-block-menu {
        flex: 50%;
        display: flex;
        justify-content: space-between;
        font-size: var(--txt-normal-font-size);
        line-height: var(--txt-normal-line-height);
        font-weight: var(--txt-normal-font-weight);

        @media screen and (max-width: 1240px) {
            font-size: var(--txt-s-font-size);
            line-height: var(--txt-s-line-height);
            font-weight: var(--txt-s-font-weight);
        }

        ul.menu {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            align-items: center;
            gap: 20px;
            white-space: nowrap;
            padding: 13.5px 0;

            @media screen and (max-width: 1125px) {
                gap: 10px;
            }

            @media screen and (max-width: 1035px) {
                gap: 5px;
            }

            .menu-item-has-children {
                position: relative;
            }

            .selected-item-menu {
                color: var(--dark-red);
                font-weight: 500;

                a {
                    color: var(--dark-red);
                }

                @media screen and (max-width: 1045px) {
                    font-size: var(--txt-s-font-size);
                    line-height: var(--txt-s-line-height);
                    font-weight: var(--txt-s-font-weight);
                }
            }

            li {
                &:hover a {
                    cursor: pointer;
                    color: var(--dark-red);
                }
            }
        }

        @media screen and (max-width: 990px) {
            display: none;
        }

        li.menu-item-has-children {
            ul.sub-menu {
                display: none;
                opacity: 0;
                transition: opacity 0.3s ease;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease, opacity 0.3s ease;
                padding: 0;
                position: absolute;
                top: 42px;
                z-index: 11;
                background-color: var(--white);
                box-shadow: 0px 4px 4px -4px #0C0C0D0D;
                box-shadow: 0px 16px 32px -4px #0C0C0D1A;


                li {
                    border-bottom: 1px solid var(--grey);

                    &:last-child {
                        border-bottom: none;
                    }

                    &::marker {
                        content: none;
                    }

                    a {
                        color: var(--main-color);
                        padding: 16px;
                        display: block;

                        &:hover {
                            cursor: pointer;
                            background-color: var(--light-grey);
                        }
                    }
                }

                &.show {
                    display: block;
                    opacity: 1;
                    max-height: 550px;
                }
            }
        }

    }

    .header-cart {
        display: inline-block;

        .icon-typeDefault-1 {
            font-size: xx-large;
        }

        a {
            position: relative;
            text-decoration: none;
            color: var(--black);
        }

        .cart-count {
            position: absolute;
            top: -25px;
            right: 0;
            background-color: var(--red);
            color: var(--white);
            border-radius: 50%;
            padding: 0px 7px;
            font-size: 12px;
            display: block;
            line-height: 20px;
        }
    }

    .header-block-delivery {
        display: flex;
        align-items: center;
        max-width: 700px;
        width: 100%;
        justify-content: space-between;
        flex: 60%;
        gap: 5px;

        @media screen and (max-width: 990px) {
            flex: 40%;
        }

        &__city {
            font-family: "Inter", sans-serif;
            font-size: 0.875rem;
            font-weight: normal;
            line-height: 1.375rem;
            position: relative;

            .icon-place-2 {
                margin-right: 9px;
                font-size: xx-large;
                vertical-align: bottom;
            }

            @media screen and (max-width: 990px) {
                display: none;
            }
        }

        &__delivery {
            display: flex;
            align-items: center;
            gap: 16px;

            img {
                max-width: 100px;
            }

            @media screen and (max-width: 990px) {
                gap: 5px;
            }
        }
    }

    .header-block-contacts {
        font-family: "wix madefor display", sans-serif;
        font-weight: normal;
        line-height: var(--h3-line-height);
        padding: 30px 0;

        &__phone {
            font-size: 1.5em;
            color: var(--light-red);
            font-weight: 800;
            text-wrap: nowrap;
            text-decoration: none;
        }

        &__operating-mode {
            font-size: 0.875em;
            color: var(--main-color);
            text-align: end;
        }

        &__callback-form {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: #00000033;
            z-index: 1;

            .callback-form-block {
                position: relative;
                width: 100%;
                height: 100%;

                &__close {
                    border: none;
                    background-color: unset;
                    font-size: x-large;
                    position: absolute;
                    top: 32px;
                    right: 32px;
                }

                &__title {
                    margin-bottom: 24px;
                    text-align: center;
                }

                &__block-input {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 25px;
                }

                &__policy-link {
                    text-align: center;
                }

                input {
                    border: 1px solid #ACACAC;
                    padding: 10px 16px;
                    border-radius: unset;

                    &::placeholder {
                        color: var(--dark-grey);
                        font-size: var(--txt-s-font-size);
                        line-height: var(--txt-s-line-height);
                        font-weight: var(--txt-s-font-weight);
                    }

                    &:invalid:focus {
                        border-color: var(--light-red);
                    }

                    &:focus:invalid::placeholder {
                        color: var(--light-red);
                    }
                }

                .red-text {
                    color: var(--red);
                }

                label {
                    margin-bottom: 14px;
                }

                form {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 480px;
                    width: 100%;
                    margin: 0 auto;
                    padding: 80px 48px 32px;
                    border-radius: var(--border-radius);
                    background-color: var(--white);
                    box-shadow: 0px 4px 8px 0px #00000014;
                    border: 1px solid #EEEEEE;

                    @media screen and (max-width: 480px) {
                        width: calc(100% - 20px);
                    }

                    img {
                        max-width: 80px;
                        margin: -40px auto 24px;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }


    }

    .header-bottom {
        margin-top: 10px;
        padding: 7px 0;
        background-color: var(--light-grey);
        position: relative;
        font-family: "Wix Madefor Display", sans-serif;
        font-weight: var(--txt-normal-font-weight);
        font-size: var(--txt-normal-font-size);
        line-height: var(--txt-normal-line-height);

        @media screen and (max-width: 990px) {
            display: none;
        }


        &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;


            a {
                color: var(--main-color);
                text-decoration: none;


                span {
                    font-size: xxx-large;
                }

                @media screen and (max-width: 990px) {
                    flex: 100%;
                }
            }

            @media screen and (max-width: 990px) {
                align-items: center;
                flex-wrap: wrap;
            }
        }
    }

    .header-block-logo {
        flex: 11%;
        display: flex;
        justify-content: flex-start;

        img {
            max-width: 160px;
            margin-right: 8px;
        }
    }
}

.header-block-nav {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 138.2px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    background-color: var(--white);
    z-index: 11;
    color: var(--main-color);

    ul.menu:not(.sub-menu) {
        padding: 0;

        li.menu-item {
            list-style: none;
            border-bottom: 1px solid var(--grey);
            position: relative;

            &:first-child {
                /* use !important to prevent issues with browser extensions that change fonts */
                font-family: 'icomoon' !important;
                speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;

                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                &::before {
                    content: "\e914";
                    color: var(--main-color);
                    position: absolute;
                    right: 12.5px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: large;
                    z-index: -1;
                }
            }

            a {
                text-decoration: none;
                font-size: var(--txt-normal-font-size);
                font-weight: var(--txt-normal-font-weight);
                line-height: var(--txt-normal-line-height);
                padding: 13.5px 16px;
                display: block;
                font-family: "Inter", sans-serif;
            }
        }

    }

    li.menu-item-has-children {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &::before {
            content: "\e914";
            color: var(--main-color);
            position: absolute;
            right: 12.5px;
            top: 50%;
            transform: translateY(-50%);
            font-size: large;
        }
    }

    ul.sub-menu {
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        padding: 0;
        position: absolute;
        top: 42px;
        z-index: 11;
        background-color: var(--white);
        box-shadow: 0px 4px 4px -4px #0C0C0D0D;
        box-shadow: 0px 16px 32px -4px #0C0C0D1A;


        li.menu-item {
            border-bottom: 1px solid var(--grey);

            &:last-child {
                border-bottom: none;
            }

            &:first-child {
                &::before {
                    display: none;
                }
            }

            &::marker {
                content: none;
            }

            a {
                color: var(--main-color);
                padding: 16px;
                display: block;

                &:hover {
                    cursor: pointer;
                    background-color: var(--light-grey);
                }
            }
        }

        &.show {
            display: block;
            opacity: 1;
            max-height: none;
            height: 100%;
            position: fixed;
            top: 136px;
            left: 0;
            z-index: 1;
            width: 100%;
        }
    }

    @media screen and (max-width: 990px) {
        opacity: 0;
        z-index: -1;
    }
}

.menu-burger {
    width: 34px;
    height: 40px;
    background-color: unset;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    z-index: 11;
    padding: 0;

    &:before,
    &:after,
    .middle {
        content: '';
        position: absolute;
        width: 33px;
        height: 3px;
        background-color: var(--dark-red);
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .middle {
        top: 20px;
        right: 0;
        width: 26px;
    }

    &:before {
        top: 10px;
    }

    &:after {
        top: 30px;
    }

    &.active:before {
        transform: translateY(10px) rotate(45deg);
    }

    &.active:after {
        transform: translateY(-10px) rotate(-45deg);
    }

    &.active .middle {
        opacity: 0;
    }

    @media screen and (min-width: 991px) {
        display: none;
    }

}

#site-navigation {
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.visible {
        opacity: 1;
        z-index: 11;
        display: block;
    }
}

.wrap-breadcrumbs {
    max-width: var(--width-page);
    margin: 0 auto 12px;
    padding: 0 40px;
    width: 100%;

    @media screen and (max-width: 990px) {
        margin-top: 150px;
        margin-bottom: 0;
        padding: 0 20px;
    }

    @media screen and (max-width: 390px) {
        padding: 0 15px;
    }
}

#page .block-catalog {
    max-width: 1160px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: var(--white);
    width: 100%;
    opacity: 0;
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease-out;
    box-shadow: 0px 24px 24px 0px #00000014;
    display: none;
    text-transform: uppercase;

    @media screen and (max-width: 990px) {
        position: fixed;
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        height: 100%;
    }

    &.visible {
        opacity: 1;
        z-index: 111;
    }

    &.display_block {
        display: block;
    }

    &__block {
        display: flex;
        gap: 1px;
        padding: 23px 30px;
        position: relative;

        @media screen and (max-width: 990px) {
            flex-direction: column;
            padding: 0;
        }
    }

    #close-catalog-menu {
        position: absolute;
        top: 26px;
        right: 20px;
        font-size: xx-large;
        color: var(--main-color);
        cursor: pointer;
        text-decoration: none;

        @media screen and (max-width: 990px) {
            top: 15px;
        }

        @media screen and (max-width: 990px) {
            display: none;
        }
    }

    &__mobile-button-back {
        display: none;

        @media screen and (max-width: 990px) {
            display: flex;
            padding: 13.5px 0 0 20px;
            align-items: center;

            p {
                margin-left: 10px;
                text-transform: none;
            }

        }
    }

    .block-categories {
        ul {
            border-bottom: 1px solid var(--grey);
            display: flex;
            flex-wrap: wrap;
            padding: 15px 0;

            @media screen and (max-width: 990px) {
                flex-direction: column;
            }

            &.subcategories-and-specific-categories {
                border-bottom: none;
            }

            li {
                position: relative;
                display: flex;
                align-items: center;
                width: calc(100% / 4);
                margin-bottom: 3px;

                @media screen and (max-width: 990px) {
                    display: -webkit-box;
                    width: 100%;
                    padding: 0 20px;


                    &:hover {
                        background: linear-gradient(90deg, #FFFFFF 18.33%, #F6F6F6 84.5%);

                    }

                }

                &::marker {
                    content: none;
                }

                img {
                    max-width: 40px;
                    margin-right: 15px;
                }

                a {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.header-block-contacts {
    font-family: "wix madefor display", sans-serif;
    font-weight: normal;
    line-height: var(--h3-line-height);
    padding: 30px 0;

    &__phone {
        font-size: 1.5em;
        color: var(--light-red);
        font-weight: 800;
        text-wrap: nowrap;
        text-decoration: none;
    }

    &__operating-mode {
        font-size: 0.875em;
        color: var(--main-color);
        text-align: end;
    }

    &__callback-form {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #00000033;
        z-index: 1;

        .callback-form-block {
            position: relative;
            width: 100%;
            height: 100%;

            &__close {
                border: none;
                background-color: unset;
                font-size: x-large;
                position: absolute;
                top: 32px;
                right: 32px;
            }

            &__title {
                margin-bottom: 24px;
                text-align: center;
            }

            &__block-input {
                display: flex;
                flex-direction: column;
                margin-bottom: 25px;
            }

            &__policy-link {
                text-align: center;
            }

            input {
                border: 1px solid #ACACAC;
                padding: 10px 16px;
                border-radius: unset;

                &::placeholder {
                    color: var(--dark-grey);
                    font-size: var(--txt-s-font-size);
                    line-height: var(--txt-s-line-height);
                    font-weight: var(--txt-s-font-weight);
                }

                &:invalid:focus {
                    border-color: var(--light-red);
                }

                &:focus:invalid::placeholder {
                    color: var(--light-red);
                }
            }

            .red-text {
                color: var(--red);
            }

            label {
                margin-bottom: 14px;
            }

            form {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 480px;
                width: 100%;
                margin: 0 auto;
                padding: 80px 48px 32px;
                border-radius: var(--border-radius);
                background-color: var(--white);
                box-shadow: 0px 4px 8px 0px #00000014;
                border: 1px solid #EEEEEE;

                @media screen and (max-width: 480px) {
                    width: calc(100% - 20px);
                }

                img {
                    max-width: 80px;
                    margin: -40px auto 24px;
                }

                p {
                    text-align: center;
                }
            }
        }
    }


}