#catalog-sidebar {

<<<<<<< HEAD
    @media screen and (max-width: 768px) {
=======
    @media screen and (max-width: 990px) {
>>>>>>> 6792cb3554322df4017191e382c2ca5918daba8f
        display: none;
    }

    .category-list {
        padding-left: 0;

        li {
            &::marker {
                content: none;
            }

            .cat-link {
                text-decoration: none;
                display: flex;
                align-items: center;

                img {
                    max-width: 40px;
                    margin: 0 8px;
                }

                .cat-name {
                    text-transform: uppercase;
                }
            }

            &.selected {
                background-color: var(--gradient-grey);
                border-left: 1px;
                border-right: 1px;
                border-top: 0px;
                border-bottom: 0px;
                border-style: solid;
                border-color: #A10A00;
            }
        }
    }
}